@font-face {
    font-family: 'DIN Black';
    src: url('../font/DIN Black/DIN Black Regular.otf');
}

* {
    margin: 0;
    padding: 0 !important;
    width: 100%;
    height: 100%;
}

header {
  position: fixed!important;
  height: 10em;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.0));
  z-index: 1;
}

header img {
  width: auto;
}

.carousel-container {
    position: relative; /* Moved this style to the first definition */
    width: 100%;
    height: 100%;
    z-index: 0;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    height: 50%;
    padding: 2em !important;
}

.content p {
    font-family: 'DIN Black';
    font-size: 1.5em;
    color: white;
    text-align: left;
    transform: translate(0%, -80%);

}

h1 {
    font-family: 'DIN Black';
    font-size: 3em;
    color: white;
    text-align: left;
}

nav {
    position: absolute;
    display: inline;
    top: 0;
    text-align: right;
    top: 5em;
    right: 5em;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'DIN Black';
    font-size: 1.5em;
    padding: 1em;
    margin-right: 2em;
}

nav a:hover {
    color: #f1c40f;
}

.next {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  transform: translate(-4%, -182.5%);
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*Calendar 
 */
 html {

  font-family: "Source Sans 3", sans-serif;

} 

.calendar-container {
  text-align: center;
}

#calendarApp {
text-align: center;
width: 100%; 
table-layout: fixed;
max-width: 1000px;
margin: 2% auto;
background-color: #FEFEFE; 
border-radius: 20px;
box-shadow: 0 10px 30px rgba(0,0,0,0.1); 
padding: 40px; 

}

.calendar-controls {
position: relative;
margin-top: 20px;
margin-bottom: 30px;
display: flex;
justify-content: center; /* Align to both ends */
align-items: center; /* Align items vertically */
gap: 20px; /* Adjust spacing */
font-size: 18px;
}

.calendar-navigation {
position: relative;
display: flex;
justify-content: center; /* Align navigation buttons to the right */
gap: 20px;
font-size: 18px;
}

.btn-secondary {
background-color: #ce8612 !important; /* Change button background color */
color: #ffffff; /* Change button text color */
border: none;
font-family: "Source Sans 3", sans-serif;
}

.btn-outline-success :hover {
background-color: #d77513 !important; 

}


#calendar {
width: 100%;
border-collapse: collapse;
}

#calendar th {
height: 100px;
background-color: #deb134; 
color: #de821a; 
padding: 20px 15px; 
font-size: 20px;
border-radius: 0;
border: none;
}

#calendar td {
height: 100px;
border: 1px solid #F0F0F0;
padding: 40px 15px; 
cursor: pointer;
transition: background-color 0.3s;
background-color: #FAFAFA;
}

#calendar td:hover {
background-color: var(--pale-green)
}

.today {
background-color: #e7a221 !important; 
color: rgb(213, 120, 27);
font-weight: bold;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 40px;
  border: 1px solid #888;
  width: 50%; 
  border-radius: 15px; 
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}


.navbar-custom {
  padding: 10px;
}

.landing_section {
  text-align: center;
}
.landing_section * {
  padding: 10px
}

.landing_section div{
  width: 40%;
  display: inline-block;
}


.partner-container {
  text-align: center;
}

.submission-container{
  text-align: center;
}